@charset "UTF-8";
/*fuente*/
/*paleta de colores*/
/*paleta de colores iconos redes sociales*/
/*separaciones*/
/*Menú*/
.colorBarra {
  background: #2A9D8F; }
  .colorBarra .navbar-brand {
    color: #F4A261; }
    .colorBarra .navbar-brand:hover {
      color: #bde0fe; }
  .colorBarra .navbar-nav .nav-link {
    color: #F4A261;
    padding: 0 2.5rem; }
    .colorBarra .navbar-nav .nav-link:hover {
      color: #bde0fe; }
  .colorBarra .inputNavbar {
    margin-top: 1rem;
    height: 40px; }

/*Maps*/
.facebook {
  background-color: blue; }

.twitter {
  background-color: #3a53a5; }

.instagram {
  background-color: #ff0062; }

/*Map Get*/
/*Main*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, #bde0fe, #ffbf69); }

.text-align {
  text-align: center;
  /*Extend*/ }
  .text-align .titulo, .text-align .subtitulo {
    text-align: center;
    color: #E76F51;
    font-size: 50px;
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .text-align .subtitulo {
    font-size: 35px;
    color: #2A9D8F; }

.font-weight {
  font-weight: lighter;
  font-size: 2rem; }
  .font-weight .tituloProd {
    text-decoration-line: underline;
    color: #E76F51;
    margin-top: 1rem;
    margin-bottom: 1.5rem; }
  .font-weight .descripcionSeccion {
    color: #2d6a4f;
    margin: 0; }
  .font-weight .mapa {
    margin: 3rem 0; }

/*Botones*/
.botonNavbar {
  width: 100px;
  height: 40px;
  /*Map Get*/
  margin: 1rem;
  color: white;
  background: #ffbf69;
  border: 2px solid;
  border-color: #E76F51;
  transition: all 1s ease; }
  .botonNavbar:hover {
    background: #bde0fe;
    border-color: #264653;
    color: #264653; }

.card-body .color-boton {
  padding: 0.5rem 1.2rem;
  font-size: 15px;
  /*Map Get*/
  margin: 1rem;
  color: white;
  background: #ffbf69;
  border: 2px solid;
  border-color: #E76F51;
  transition: all 1s ease; }
  .card-body .color-boton:hover {
    background: #bde0fe;
    border-color: #264653;
    color: #264653; }

/*Logos*/
.text-align .logoIndex {
  max-width: 100%;
  margin: 2rem auto;
  display: block; }

.text-align .logosLargos {
  width: 550px;
  margin: 2rem auto;
  display: block; }

.text-align .logosCortos {
  width: 400px;
  height: 100px;
  margin: 2rem auto;
  display: block; }

/*Cards*/
.card-justify {
  justify-content: space-evenly; }
  .card-justify .card {
    display: inline;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 18rem;
    background-color: #ffbf69; }
    .card-justify .card .card-body {
      background: linear-gradient(#bde0fe, #ffbf69);
      height: 14rem; }
    .card-justify .card .card-title {
      color: #2A9D8F; }
    .card-justify .card .card-text {
      color: white; }
  .card-justify .card-border {
    border: solid 10px #2A9D8F;
    border-radius: 20px; }

/*Formulario*/
.form {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 2rem auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #2A9D8F; }
  .form .formContainer {
    width: 27.5rem;
    text-align: center;
    border: solid 1px;
    border-color: #2A9D8F;
    border-radius: 20px;
    background: linear-gradient(to left, #bde0fe, #ffbf69); }
    .form .formContainer .input-border-width {
      width: 25rem;
      transition: all; }
      .form .formContainer .input-border-width:focus {
        width: 30rem;
        font-size: 20px; }
    .form .formContainer .form-label {
      margin-top: 2rem;
      margin-bottom: 0; }

/*Mixin*/
/*Footer*/
.fondoVerdeFooter {
  background-color: #2A9D8F;
  max-width: 100%;
  height: 225px;
  /*Mixin*/ }
  .fondoVerdeFooter .text-muted {
    color: #F4A261 !important;
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .fondoVerdeFooter .redesSociales img {
    margin-top: 1rem;
    margin-left: 1.3rem;
    padding: 0.2rem;
    border-radius: 10px;
    display: inline-block;
    width: 10%; }

/*Media Queries*/
@media (max-width: 425px) {
  .text-bolder {
    font-weight: bolder; }
    .text-bolder .logoIndex {
      margin: 1rem auto; }
    .text-bolder .titulo, .text-bolder .text-align .subtitulo, .text-align .text-bolder .subtitulo {
      font-size: 35px;
      margin: 1rem auto;
      font-weight: bolder; }
    .text-bolder .subtitulo {
      font-size: 25px;
      margin: 1rem auto;
      font-weight: bolder; }
  .font-weight .descripcionSeccion {
    font-size: 20px; }
  .font-weight .tituloProd {
    font-size: 25px;
    margin: 0.5rem auto; }
  .form .formContainer {
    width: 18rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .form .formContainer .input-border-width {
      width: 16rem; }
      .form .formContainer .input-border-width:focus {
        width: 18rem;
        font-size: 1rem; } }

@media (max-width: 767px) {
  .fondoVerdeFooter {
    height: 350px; } }
