/*Botones*/
.botonNavbar {
    width: 100px;
    height: 40px;
    /*Map Get*/
    margin: map-get($estiloBotones, margen);
    color: map-get($estiloBotones, color);
    background: map-get($estiloBotones, colorFondo);
    border: map-get($estiloBotones, borde);
    border-color: map-get($estiloBotones, borde-color);
    transition: map-get($estiloBotones, transicion);

    &:hover {
        background: map-get($hoverBotones, colorFondo);
        border-color: map-get($hoverBotones, borde-color);
        color: map-get($hoverBotones, color);
    }
}

.card-body {
    .color-boton {
        padding: 0.5rem 1.2rem;
        font-size: 15px;
        /*Map Get*/
        margin: map-get($estiloBotones, margen);
        color: map-get($estiloBotones, color);
        background: map-get($estiloBotones, colorFondo);
        border: map-get($estiloBotones, borde);
        border-color: map-get($estiloBotones, borde-color);
        transition: map-get($estiloBotones, transicion);

        &:hover {
            background: map-get($hoverBotones, colorFondo);
            border-color: map-get($hoverBotones, borde-color);
            color: map-get($hoverBotones, color);
        }
    }
}

/*Logos*/
.text-align {
    .logoIndex {
        max-width: 100%;
        margin: $margin-bottom auto;
        display: block;

    }

    .logosLargos {
        width: 550px;
        margin: $margin-bottom auto;
        display: block;
    }

    .logosCortos {
        width: 400px;
        height: 100px;
        margin: $margin-bottom auto;
        display: block;
    }
}

/*Cards*/
.card-justify {
    justify-content: space-evenly;

    .card {
        display: inline;
        margin-top: $margin-bottom;
        margin-bottom: $margin-top;
        width: 18rem;
        background-color: $color-naranjaClaro;

        .card-body {
            background: linear-gradient($color-celeste, $color-naranjaClaro);
            height: 14rem;
        }

        .card-title {
            font-size: $fuente;
            color: $color-verde;
        }

        .card-text {
            font-size: $fuente;
            color: $color-naranjaRojizo;
        }

    }

    .card-border {
        border: solid 10px $color-verde;
        border-radius: 20px;

        .card-height {
            height: 15rem;
        }
    }
}

.card {
    border: solid 5px $color-verde;
    border-radius: 10px;
    margin-bottom: $margin-bottom;

    .card-bodyAsociaciones {
        background-color: $color-naranjaClaro;

        .card-link {
            font-family: $fuente;
            font-size: 16px;
            text-decoration: none;
            color: $color-naranjaRojizo;
            margin: 0.5rem;
            padding: 1.5rem;

            &:hover {
                color: $color-verde;
            }
        }

        .card-textAsociaciones {
            font-size: $fuente;
            color: $color-azul;
        }
    }

    .card-imgAsociaciones {
        width: 39.3rem;
        height: 10rem;
        background-color: rgb(189, 192, 189);
    }
}

/*Imágenes*/
.imagen-justify {
    justify-content: space-evenly;

    .imagenes {
        width: 30rem;
        height: 20rem;
        margin-top: $margin-bottom;
        margin-bottom: $margin-bottom;
        background-color: $color-naranjaClaro;
    }

    .imagenes-border {
        border: solid 10px $color-verde;
        border-radius: 20px;
    }
}

/*Formulario*/ 
.form {
    display: flex;
    justify-content: center;
    width: auto;
    margin: $margin-bottom auto;
    font-family: $fuente;
    color: $color-verde;

    .formContainer {
        width: 27.5rem;
        text-align: center;
        border: solid 1px;
        border-color: $color-verde;
        border-radius: 20px;
        background: linear-gradient(to left, $color-celeste, $color-naranjaClaro);

        .input-border-width {
            width: 25rem;
            transition: all;

            &:focus {
                width: 30rem;
                font-size: 20px;
            }
        }

        .form-label {
            margin-top: $margin-bottom;
            margin-bottom: 0;
        }

    }
}






