/*Menú*/
.colorBarra {
    background: $color-verde;

    .navbar-brand {
        color: $color-naranja;

        &:hover {
            color: $color-celeste ;
        }
    }
    .navbar-nav {
        .nav-link {
            font-family: $fuente;
            font-size: 16px;
            color: $color-naranja;
            margin: 0.5rem;
            padding: 1.5rem;

            &:hover {
                color: $color-celeste ;
            }
        }
    }
    .dropdown-menu {
        background: $color-verde;

        .link-dropdown {
            font-family: $fuente;
            font-size: 16px;
            color: $color-naranja;

            &:hover {
                color: $color-verde;
            }
        }
    }

    .inputNavbar {
        margin-top:$margin-top;
        height: 40px;
    }
}