/*Menú*/
.colorBarra {
    background: $color-verde;

    .navbar-brand {
        color: $color-naranja;

        &:hover {
            color: $color-celeste ;
        }
    }
    .navbar-nav {
        .nav-link {
            font-family: $fuente;
            color: $color-naranja;
            margin: 0.5rem;
            padding: 1rem;

            &:hover {
                color: $color-celeste ;
            }
        }
    }

    .dropdown {
        font-family: $fuente;
        color: $color-naranja;
        margin: 0.5rem;
        padding: 0.5;

        &:hover {
            color: $color-celeste ;
        }
    }

    .inputNavbar {
        margin-top:$margin-top;
        height: 40px;
    }
}