//fuente:
$fuente: Verdana, Geneva, Tahoma, sans-serif;
$size-textoBody: 1.8rem;

//paleta de colores:
$color-azul: #264653;
$color-celeste: #bde0fe;
$color-verde: #2A9D8F;
$color-verdeOscuro: #2d6a4f;
$color-naranja: #F4A261;
$color-naranjaOscuro: #E76F51;
$color-naranjaClaro: #ffbf69;
$color-blanco: white;

//separaciones: 
$margin-top: 1rem;
$margin-bottom: 2rem;




