@import "variables";
@import "componentes";
@import "mediaQueries";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: $fuente;
    background: linear-gradient(to right, $color-celeste, $color-naranjaClaro); 
}

header {
    .colorBarra {
        background: $color-verde;}
    .navbar-light .navbar-brand {
        color: $color-naranja;
    &:hover {
        color: $color-celeste;}
    }
    .navbar-light .navbar-nav .nav-link {
        color: $color-naranja;
        padding: 0 2.5rem;
    &:hover {
        color: $color-celeste;}  
    }
}

form {
    input {
        height: 40px;
    }
    .inputNavbar {
        margin-top: 1rem;
    }    
}

div {
    .titulo {
        text-align: center;
        color: $color-naranjaOscuro;
        font-size: 50px;
        margin-top: $margin-top;
        margin-bottom: $margin-bottom;
    }

    .subtitulo {
        text-align: center;
        text-decoration: underline;
        font-size: $size-textoBody;
        color: $color-verde;
        margin-top: $margin-top;
        margin-bottom: $margin-bottom;
    }

    .tituloProd {
        
        font-size: $size-textoBody;
        font-weight: lighter;
        color: $color-naranjaOscuro;
        margin-top: $margin-top;
        margin-bottom: $margin-bottom;
        margin-left: 2.5rem;
    }
    
    .descripcionSeccion {
        font-size: $size-textoBody;
        font-weight: lighter;
        color: $color-verdeOscuro;
        margin: 0;
    }
}

section {
        .tituloMapaContancto {
            text-decoration-line: underline;
            font-size: $size-textoBody;
            font-weight: lighter;
            color: $color-naranjaOscuro;
            margin: $margin-bottom 0;
        }

        .descripcionSeccion {
            font-size: $size-textoBody;
            font-weight: lighter;
            color: $color-verdeOscuro;
            margin: 0;
        }

        .mapa {
            margin: $margin-bottom 0;
        }
}

footer {
        background-color: #2A9D8F;
        max-width: 100%;
        height: 225px;
        
    
    .text-muted {
        color:#F4A261!important;
        margin-top: 2rem;
        margin-bottom: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .redesSociales img {
        margin-top: 1rem;
        display: inline-block;
        width: 10%;
    }
    
    .pieDePagina img {
        display: block;
        width: 15%;
    }
}

