@import "variables","menu","maps","main","componentes","mixin","footer";

/*Media Queries*/
@media (max-width:425px) {
    .text-bolder {
        font-weight: bolder;
        .logoIndex {
            margin:  $margin-top auto;
        }
        
        .titulo {
            font-size: 35px;
            margin:  $margin-top auto;
            font-weight: bolder;
        }
        
        .subtitulo {
            font-size: 25px;
            margin:  $margin-top auto;
            font-weight: bolder;
        }
    }

    .font-weight {
        .descripcionSeccion {
            font-size: 20px;
        }
    
        .tituloProd {
            font-size: 25px;
            margin: 0.5rem auto;
        }
    }

    .form {
        .formContainer {
            width: 18rem;
            margin-top: $margin-top;
            margin-bottom: $margin-top;
            
            .input-border-width {
                width: 16rem;
    
                &:focus {
                    width: 18rem;
                    font-size: 1rem;
                }
            }
        }
    }

    .imagen-justify {
        .imagenes {
            width: 20rem;
            height: 12rem;
            margin-top: $margin-bottom;
            margin-bottom: $margin-top;
        }
    }
    
}

@media (max-width:767px) {
    .fondoVerdeFooter {
        height: 430px;

    }
}














